body{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 0;
font-size: 1.3rem;
}
header >* {
margin: auto;
}
header h1{
    background-color: navy;
    padding: 15px;
    color: white;
}
header h2{
    background-color: blueviolet;
    padding: 15px;
}

header h2 a{
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: block;
    transition: 1s;
    color: white;
}
header h2 a:hover{
    color: orange;
}

.titulo{
    font-size: 2rem;
}

#conteiner{
    width: 100%;
    display: flex;

}

#conteiner p {
    text-align: left;
}

@media (max-width: 1024px) {
body{
    font-size: 1rem;
}
header h2{
    display: none;
}

#container{
flex-wrap: wrap;
}
}


